:root {
    --color-primary: #ff6e40;
    --color-back-light: #ECEFF1;
    --color-back-dark: #37474f;
    --spacer-base: 1em;
    --card-font-size: 90%;
    --header-font-size: 32px;
    --header-height: 8em;
}
body {
    font-family:   Roboto, Arial, sans-serif;
    font-size: 1em;
    background-color: var(--color-back-light);
}
header {
   padding: 0 var(--spacer-base);
   background-color: var(--color-back-dark);
   height: var(--header-height);

}
header h1 {
    margin: 0;   
    font-size: var(--header-font-size);
    color: white;
}
header h1 span {
    color: var(--color-primary);
}
figure {
    margin: 0;
    padding: 0;
}
button {
    display: inline-block;
    padding: 0.5em 1em;
    background-color: var(--color-primary);
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}
.card {
	background: white;
	margin-bottom: 2em;	
    padding: 0;
   
}
.card-content p {
	padding: 0.5em 1.4em 0 1.4em;
	font-size: var(--card-font-size);   
}
.card-actions {
	padding: 0.5em 1.4em;
	font-size: var(--card-font-size);      
}



/* add your styles here */

.container {
    display: flex; /* Use flexbox layout */
    align-items: center; /* Align items vertically centered */
    justify-content: center; /* Center items horizontally */
}
.cards {
    display: flex; /* Use flexbox layout */
    justify-content: space-between; /* Distribute space between cards */
}
img {
    max-width: 100%; /* Set the maximum width of images to 100% of their container */
}
.card img:hover {
    filter: saturate(150%); /* Increase color saturation */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Add a shadow effect */
}
.card:hover{
}
.card button {
    opacity: 0; /* Make buttons invisible */
    transition: 1s opacity ease-in-out; /* Smooth transition for opacity change */
}
.card:hover button {
    opacity: 1; /* Make buttons visible */
}


/* styles for mobile protrait screen */

@media only screen and (max-width:480px)
{
:root {
    --card-font-size: 100%; /* Set card font size variable */
    --header-font-size: 24px; /* Set header font size variable */
    --header-height: 4em; /* Set header height variable */
}
.card {
    width: 100%; /* Set card width to 100% of its container */
    font-size: 100%; /* Set font size to 100% */
}
}

/* styles for tablet portrait and mobile landscape screens */

@media only screen and (min-width: 481px)
and (max-width: 768px)
{
:root {
    --card-font-size: 100%; /* Set card font size variable */
    --header-height: 5em; /* Set header height variable */
}
.card {
    width: 45%; /* Set card width to 45% of its container */
    font-size: 100%; /* Set font size to 100% */
}
}